.teachers__info_stats {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.teachers__info_lang {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;

}

.teacher__language {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    color: var(--gray);
}

.teacher__name {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;

    color: var(--black);
}

.stats_block {
    display: flex;
    width: 100%;

    flex-direction: column;
    padding-top: 16px;
}

.teachers__rates {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
}

.teacher__rates_item {
    display: flex;
}

.icon_item {
    gap: 8px;
}

.svg_icon {
    display: flex;
    align-self: center;
    width: 16px;
    height: 16px;
}

.book {
    fill: var(--white);
    stroke: var(--black);
}

.label {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    color: var(--black);
}

.price {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    color: #38CD3E;
}

.heart {
    display: flex;
    position: relative;
    top: -424px;
    right: -220px;
    width: 30px;
    height: 24px;

    stroke-width: 2px;
    cursor: pointer;

    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.heart_like {
    stroke: var(--white);
    fill: var(--like);
}

.heart_regular {
    stroke: var(--black);
    fill: var(--white);
}

.teacher__info_block {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media screen and (min-width: 375px) {
    .heart {
        right: -260px;
    }
}

@media screen and (min-width: 768px) {
    .teachers__info_stats {
        flex-direction: row;
        flex-wrap: wrap;
        // align-items: center;
        justify-content: center;
        row-gap: 16px;
    }

    .stats_block,
    .teachers__rates {
        flex-direction: row;
        align-items: center;
        gap: 16px;
        // gap: 64px;
        padding-top: 0;
    }

    .heart {
        top: -235px;
        right: -30px;
    }
}

@media screen and (min-width: 1280px) {
    .teachers__info_stats {
        flex-wrap: nowrap;
        justify-content: space-between;
        column-gap: 149px;
    }

    .heart {
        position: static;
        bottom: auto;
        left: auto;
        width: 23px;
        height: 20px;
    }

    .teachers__info_lang {
        width: 245px;
    }
}

@media screen and (min-width: 1440px) {}