.logo_block {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 8px;
}

.logo {
    width: 28px;
    height: 28px;
}

.logo_text {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.4px;

    color: var(--primary-color);
}