.auth {
  display: flex;
  gap: 16px;
}

.login {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  background-color: transparent;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;

  color: var(--primary-color);

  transition: color ease-in-out 300ms;

  &:hover {
    color: var(--secondary-color);
  }
}

.login_icon {
  width: 20px;
  height: 20px;
}

.logout {
  color: var(--main-bg);

}

.register {
  display: flex;
  padding: 14px 39px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background-color: var(--primary-color);

  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;

  transition: color ease-in-out 300ms;

  &:hover {
    color: var(--secondary-color);
  }
}