.container {
  display: flex;
  flex-direction: column;
  width: 1440px;
  padding: 0 64px;
  margin: 0 auto;
}

.main_page__bg {
  background-color: #fff;
}

.other_pages_bg {
  background-color: var(--thirty-bg);
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}