.home_page {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 20px;
}

.call_hero {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (min-width: 1280px) {
    .call_hero {
        flex-direction: row;
    }

}