.teachers_item {
    display: flex;
    width: 1184px;
    padding: 24px;
    gap: 48px;
    border-radius: 24px;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid var(--secondary-bg);
    background-color: #ffffff;
}

.teacher_img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: var(--thirty-bg);
}

.teachers__info {
    display: flex;
    flex-direction: column;
    max-width: 968px;
    width: 100%;
    gap: 32px;
}

.teacher__conditions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.teacher,
.teacher__list {
    display: flex;
    flex-direction: column;
}

.teacher {
    gap: 16px;
}

.teacher__list {
    gap: 8px;
}

.teacher__item {
    display: flex;
    gap: 4px;
}

.item__key,
.item__value {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.item__key {
    color: var(--gray);
}

.item__value {
    color: var(--black);
}

.item__underscore {
    text-decoration: underline;
}

.teacher__cover_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: var(--black);
}


.reviews__block {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.reviews__item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 12px;
}

.rate__name_block {
    display: flex;
    align-items: center;
    gap: 12px;
}

.review__icon {
    width: 44px;
    height: 44px;
    border-radius: 100px;
    background-color: var(--gray);
}

.rate__name {
    flex-direction: column;
}

.name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    color: var(--gray);
}

.rate {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;

    font-size: 14px;
    font-weight: 500;
    line-height: 128.571%;

    color: var(--black);
}

.svg_icon {
    display: flex;
    align-self: center;
    width: 16px;
    height: 16px;
}

.review {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    color: var(--black);
}

.lang__levels {
    display: flex;
}

.lang__levels_item {
    
}

.button {}

.teachers__lang_level {}